/* ---------- Global Styles ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
}

body {
  overflow-x: hidden;

  /* Hide scrollbar in old Edge/IE */
  -ms-overflow-style: none;
}

/* Hide scrollbar in Chrome, Edge & Safari */
body::-webkit-scrollbar {
  display: none;
}