/* HERO SECTION */

.Firstpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 120px auto 0;
  padding: 0 80px;
}

.top {
  width: 50%;
}

.name {
  font-size: 22px;
  margin-bottom: 18px;
}

.front {
  font-size: 78px;
  font-weight: 700;
  line-height: 0.95;
  margin: 0;
}

.fr {
  font-size: 78px;
  font-weight: 700;
  line-height: 0.95;
  margin-top: 18px;   /* spacing between Front-End and Developer */
  margin-bottom: 25px;
}

.down {
  width: 470px;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.cv {
  border: 1px solid white;
  background: grey;
  color: white;
  padding: 12px 28px;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}

.cv:hover {
  background: white;
  color: black;
}

.socials {
  display: flex;
  gap: 15px;
  margin-top: 35px;
}

.socials a {
  width: 45px;
  height: 45px;
  background: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.socials a:first-child {
  border-radius: 8px;
}

/* IMAGE */

.hero {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -70px;
}

.hero img {
  width: 520px;
  height: auto;
  object-fit: contain;
}