img {
  max-width: 100%;
  height: auto;
}

/* MAIN HERO SECTION */
.Firstpage {
  width: 85%;
  margin: 90px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.down {
  flex: 1;
  max-width: 500px;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero img {
  width: 430px;
  max-width: 100%;
}

/* TEXT */

.down h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.front {
  font-size: 72px;
  line-height: .9;
  font-weight: 700;
  margin: 0;
}

.fr {
  font-size: 50px;
  margin-top: -15px;
}

.down p {
  margin-top: 18px;
  line-height: 1.6;
  width: 420px;
  font-size: 20px;
}

/* BUTTON */

.cv {
  margin-top: 30px;
  border: 1px solid white;
  background: grey;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.cv:hover {
  background: white;
  color: black;
}

/* SOCIALS */

.socials {
  display: flex;
  gap: 18px;
  margin-top: 45px;
}

.socials a {
  width: 45px;
  height: 45px;
  background: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.socials a:first-child {
  border-radius: 8px;
}