.skill {
  margin-top: 120px;
}

.mySkill {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

.Sub {
  text-align: center;
  margin-top: -15px;
  font-size: 18px;
  color: #d4d4d4;
}

.Coreskills {
  max-width: 1250px;
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  min-height: 360px;
  background: #161616;
  border: 1px solid #5A5A5A;
  border-radius: 20px;
  padding: 22px;
  transition: 0.3s;
}

.card:hover {
  background: #242424;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tags span {
  border: 1px solid #5A5A5A;
  border-radius: 999px;
  padding: 10px 18px;
  background: #1b1b1b;
  font-size: 15px;
  transition: .3s;
}

.tags span:hover {
  background: #2b2b2b;
}