.header {
  width: 100%;
  position: sticky;
  top: 10px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  &.scrolled {
    background: transparent;
  }

  /* &nav-hidden{
transform: translateY(-100%);
opacity: 0
} */
  .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: transparent;

    .nav-logo {
      width: 60px;
      height: 60px;
      border: 1px solid #5a5a5a;
      background: #161616;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      font-size: 24px;
      font-weight: 700;

      margin-left: 40px;
    }
  }
}

.nav-menu {
  border: 1px solid grey;
  padding: 10px;
  width: 410px;
  height: 50px;
  color: #e5e5e5;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  margin-top: -10px;

  a {
    padding: 20px 0;
    display: block;
    text-decoration: none;
  }

  li {
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &.active::after {
      width: 100%;
    }
  }
}

.Link {
  color: #e5e5e5;
}

.btn {
  border: 1px solid white;
  color: #e5e5e5;
  background-color: grey;
  padding: 10px;
  margin-top: -90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e5e5e5;
  color: #0a0a0a;
}
